<div class="others-root">
  <aside class="sidebar">
    <!-- <h3>Others</h3> -->

    <a routerLink="service-charges" routerLinkActive="active">
      Service Charges
    </a>

    <a routerLink="safe-banking" routerLinkActive="active">
      Secure & Safe Banking
    </a>

    <a routerLink="download" routerLinkActive="active">
      Downloads
    </a>

    <a routerLink="agm" routerLinkActive="active">
      AGM
    </a>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
