<section class="atm-root">
  <!-- Title with UPI logo -->
  <h1 class="title title-with-logo">
    <img src="/assets/atm.png" alt="UPI" class="upi-logo" />
    {{ lang.t('services.atm', 'TITLE') }}
  </h1>

  <!-- Intro -->
  <p class="description">
    {{ lang.t('services.atm', 'INTRO_1') }}
  </p>

  <p class="description">
    {{ lang.t('services.atm', 'INTRO_2') }}
  </p>

  <!-- ATM Services -->
  <h2 class="subtitle">
    {{ lang.t('services.atm', 'ATM_FEATURES_TITLE') }}
  </h2>

  <ul class="list">
    <li *ngFor="let key of features">
      {{ lang.t('services.atm', key) }}
    </li>
  </ul>

  <!-- Debit Card -->
  <h2 class="subtitle">
    {{ lang.t('services.atm', 'DEBIT_CARD_TITLE') }}
  </h2>

  <ul class="list">
    <li *ngFor="let key of debitCardPoints">
      {{ lang.t('services.atm', key) }}
    </li>
  </ul>
</section>
