<section class="loan-page">

  <!-- HERO -->
  <header class="hero">
    <img
      src="/assets/loans/business-loan.jpeg"
      alt="Business Loan"
      class="hero-image"
    />

    <h1>{{ lang.t('loans.business', 'pageTitle') }}</h1>
    <p class="subtitle">
      {{ lang.t('loans.business', 'pageSubtitle') }}
    </p>
    <p class="desc">
      {{ lang.t('loans.business', 'pageDescription') }}
    </p>
  </header>

  <!-- LOAN LIST -->
  <div class="loan-list">

    <section *ngFor="let loan of loans" class="loan-section">

      <!-- LOAN TITLE -->
      <h2 class="loan-title">
        {{ lang.t('loans.business', loan.key) }}
      </h2>

      <!-- BIG LOAN IMAGE -->
      <img *ngIf="loan.image"
        class="loan-banner"
        [src]="loan.image"
        alt=""
      />

      <!-- STAT CARDS -->
      <div class="facts">
        <div class="fact" *ngFor="let s of loan.stats">
          <span class="label">
            {{  s.labelKey }}
          </span>
          <strong class="value">
            {{  s.value }}
          </strong>
        </div>
      </div>

      <!-- DOCUMENTS -->
      <div class="documents-card">
        <h3>{{ lang.t('loans.business', 'documentsTitle') }}</h3>

        <ul>
          <li *ngFor="let doc of loan.requiredDocs">
            {{ doc }}
          </li>
        </ul>
      </div>

    </section>

  </div>

</section>
