<section
  class="carousel-wrapper"
  *ngIf="banners.length"
  aria-label="Home banner carousel"
>
  <div
    class="carousel"
    (mouseenter)="stopAutoScroll()"
    (mouseleave)="startAutoScroll()"
  >
    <!-- SLIDE TRACK -->
    <div class="slides-track">
      <div
  class="slide"
  *ngFor="let b of banners; let i = index"
  [style.transform]="getTranslateX(i)"
>

        <img [src]="b.image" alt="Bank banner" loading="lazy" />

        <div class="overlay" *ngIf="b.title || b.subtitle">
          <h2 *ngIf="b.title">{{ b.title }}</h2>
          <p *ngIf="b.subtitle">{{ b.subtitle }}</p>
        </div>
      </div>
    </div>

    <!-- arrows -->
    <button class="nav prev" (click)="prev()">‹</button>
    <button class="nav next" (click)="next()">›</button>

    <!-- dots -->
    <div class="dots">
      <span
        *ngFor="let _ of banners; let i = index"
        (click)="goTo(i)"
        [class.active]="i === currentIndex"
      ></span>
    </div>
  </div>
</section>
